<!DOCTYPE html>
<html>
<body>

<textarea rows="4" cols="50" name="input" form="form">
Enter text here...</textarea>

<form action="/" id="form" method="post">
	<input type="submit">
</form>

</body>
</html>
